%html
  %script{src: "http://code.jquery.com/jquery-1.10.1.min.js"}
  %script{src: "http://code.highcharts.com/highcharts.js"}
  :javascript
    $(document).ready(function(){

      function debug(str){ $("#debug").prepend(str+"<br/>"); };

      $('button').click(function() { 
        url = $('input').val()
        if(url == '') { return false };
        $.ajax({
            url: '/send',
            type: 'GET',
            data: {url: url}
        });  
      });

      ws = new WebSocket("ws://192.168.10.103:8081/");
      ws.onmessage = function(evt) { 
        debug(evt.data + ' ' + (new Date()));
        data = jQuery.parseJSON(evt.data);
        var time = (new Date()).getTime();
        chart.series[0].addPoint([time, data.success], true, true);      
        chart.series[1].addPoint([time, data.failed], true, true);            
        chart.series[2].addPoint([time, data.processing], true, true);
      };
      ws.onclose = function() { 
        //debug("socket closed"); 
      };
      ws.onopen = function() {
        //debug("connected...");
      };

      var NAMES = ['success', 'failded', 'processing'];
      var chart_series = [];
      var series_data = (function() {
          // generate an array of random data
          var data = [],
              time = (new Date()).getTime(),
              i;

          for (i = -10; i <= 0; i++) {
              data.push({
                  x: time + i * 1000,
                  y: 0
              });
          }
          return data;
      })();

      for(n = 0; n < 3; n ++) {
        dummy_serie = {
          name: ('Data for: ' + NAMES[n]),
          data: series_data
        };
        chart_series.push(dummy_serie);
      };

      var chart;
      chart = new Highcharts.Chart({
          chart: {
              renderTo: 'container',
              type: 'spline',
              marginRight: 10, 
          },
          plotOptions: {
            series: {
              events: {
                legendItemClick: function () {
                    return false; 
                }
              }
            },
            allowPointSelect: false,
          },
          title: {
              text: 'Links Processor'
          },
          xAxis: {
              type: 'datetime'
          },
          yAxis: {
              allowDecimals:false,
              min: 0,
              title: {
                  text: 'Value'
              },
              gridLineWidth: 0,
          },
          tooltip: {
              formatter: function() {
                      return '<b>'+ this.series.name +'</b><br/>'+
                      Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                      Highcharts.numberFormat(this.y, 0);
              }
          },
          legend: {
              enabled: true
          },
          series: chart_series
      });

    });

#container{style: "min-width: 400px; height: 400px; margin: 0 auto"}
%h3 Add url to process
%input 
%button Send Link
%h3 App Log (most recent at the top)
#debug{style: 'width: 100%; height: 300px; overflow: scroll;'}